html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin:0;
}

#home {
  position:relative;
  width:980px;
  margin-left:auto;
  margin-right:auto;

}
.center {
  position:relative;
  margin-right:auto;
  margin-left:auto;
  display:block;
}

a {
  text-decoration:none;
  color:#3FA9F5;
}

a:hover {
  color:black;
}

/*clear fix*/
.clearfix::after {
  content:" ";
  display:table;
  clear:both;
  
}

button {
  padding:1%;
  width:100px;
  height:40px;
  font-family: 'Yantramanav', sans-serif;
  font-size:15px;
  border:1px solid;
  color:#3A3A3A;
  border-radius:5px;
  background-color:white;
}

button:hover {
  color:white;
  background-color:#C6C6C6;
}

/*fonts*/
h1 {
  font-family: 'Yantramanav', sans-serif;
  font-weight:100;
  color:#3A3A3A;
  font-size:45px;
  margin-bottom:0;
  line-height:55px;
  text-align:center;
}

h1.left {
  text-align:left;
}
h1.right {
  text-align:right;
}

p {
  font-family: 'Yantramanav', sans-serif;
  font-weight:100;
  color:#3A3A3A;
  font-size:20px;
  text-align:center;
}

p.left {
  text-align:left;
}

p.right {
  text-align:right;
}

p.top {
  margin-top:-5px;
  margin-bottom:15px;
}

/*Sections*/
/*one*/
#one {
  position:relative;
  margin:0;
  background-image:url("../assets/iphonehero1.png");
  background-size: 980px;
  background-position: bottom;
  background-repeat: no-repeat;  
  padding:2%;
  background-color:#FBFBFB;
  height:1000px;
}

#onetextwrap {
  position:relative;
  width:57%;
}

#onetextwrapleft {
  float:left;
  width:17%;
  margin-top:34%;
  margin-left:45px;
}

#onetextwrapright {
  float:right;
  width:17%;
  margin-top:34%;
  margin-right:45px;
}

#onesectiontwo {
  width:100%%;
  background-color:#FBFBFB;
}

#onetextwrapbottom {
  margin-top:-20px;
  width:57%;
  background-color:#FBFBFB;
}

.logo {
  width:150px;
}

.logo2 {
  width:190px;
  margin-left:-19px;
}

#logo {
  width:300px;
  left:-5px;
  margin-bottom:-20px;
}
/*two*/
#two {
  position:relative;
  margin:0;
  background-image:url("../assets/iphonehero4.png");
  background-size: 980px;
  background-position: bottom;
  background-repeat: no-repeat;  
  padding-left:5%;
  padding-right:5%;
  padding-top:0;
  background-color:white;
  height:700px;
}

#twotextwrap {
  width:39%;
  float:left;
  margin-top:18%;
}

.ios9 {
  position:relative;
  width:60px;
  float:right;
  margin-top:-8px;
  margin-right:60px;
}

/*three*/
#three {
  position:relative;
  margin:0;
  background-image:url("../assets/iphonehero3.png");
  background-size: 980px;
  background-position: bottom;
  background-repeat: no-repeat;  
  padding-left:8%;
  padding-right:8%;
  padding-top:.5%;
  background-color:#FBFBFB;
  height:700px;
}

#threetextwrap {
  width:70%;
  margin-top:8%;
}

/*four*/
#four {
  position:relative;
  margin:0;
  background-image:url("../assets/iphonehero2.png");
  background-size: 980px;
  background-position: bottom;
  background-repeat: no-repeat;  
  padding-left:5%;
  padding-right:5%;
  padding-top:0;
  background-color:white;
  height:650px;
}

#fourtextwrap {
  width:39%;
  float:right;
  margin-top:15%;
}

/*five*/
#five {
  position:relative;
  margin:0;
  background-image:url("../assets/iphonehero5.png");
  background-size: 980px;
  background-position: bottom;
  background-repeat: no-repeat;  
  padding:2%;
  background-color:#FBFBFB;
  height:920px;
}

#fivetextwrap {
  width:57%;
}

#fivetextwrapleft {
  float:left;
  width:17%;
  margin-top:34%;
  margin-left:45px;
}

#fivetextwrapright {
  float:right;
  width:17%;
  margin-top:34%;
  margin-right:45px;
}

.logo {
  width:150px;
}

.logo2 {
  width:190px;
  margin-left:-19px;
}

/*six*/
#six {
  position:relative;
  margin:0;
  background-image:url("../assets/iphonehero6.png");
  background-size: 980px;
  background-position: bottom;
  background-repeat: no-repeat;  
  padding:2%;
  background-color:white;
  height:655px;
}

#sixtextwrap {
  margin-top:4%;
  width:57%;
}

#sixtextwrapleft {
  position:relative;
  width:17%;

}

.logo {
  width:150px;
}

.logo2 {
  width:190px;
  margin-left:-19px;
}


