  html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin:0;
  
}
#home {
  position:relative;
  width:980px;
  margin-left:auto;
  margin-right:auto;

}
.center {
  position:relative;
  margin-right:auto;
  margin-left:auto;
  display:block;
}

a {
  text-decoration:none;
  color:#3FA9F5;
}

a:hover {
  color:black;
}

/*clear fix*/
.clearfix::after {
  content:" ";
  display:table;
  clear:both;
  
}

button {
  padding:1.1%;
  font-family: 'Yantramanav', sans-serif;
  font-size:15px;
  border:1px solid;
  color:#3A3A3A;
  border-radius:5px;
  background-color:white;
  
}

button:hover {
  padding:1.1%;
  font-family: 'Yantramanav', sans-serif;
  font-size:15px;
  border:1px solid;
  color:white;
  border-radius:5px;
  background-color:#008840;
  
}

/*fonts*/
h1 {
  font-family: 'Yantramanav', sans-serif;
  font-weight:100;
  color:#3A3A3A;
  font-size:45px;
  margin-bottom:0;
  line-height:55px;
  text-align:center;
}

h1.left {
  text-align:left;
}

p {
  font-family: 'Yantramanav', sans-serif;
  font-weight:100;
  color:#3A3A3A;
  font-size:20px;
  text-align:center;
}

p.left {
  text-align:left;
}

/*Sections*/
/*one*/
#one {
  position:relative;
  margin:0;
/*  border:1px solid red;*/
  background-image:url("../assets/AppleWatchHero.png");
  background-size: 980px;
  background-position: bottom;
  background-repeat: no-repeat;  
  padding:2%;
  background-color:#FBFBFB;
  height:990px;
}

#onetextwrap {
  width:50%;
}

#logo {
  width:120px;
  left:-5px;
  margin-bottom:-20px;
}
/*two*/
#two {
  position:relative;
  margin:0;
/*  border:1px solid red;*/
  background-image:url("../assets/AppleWatchHero2.png");
  background-size: 980px;
  background-position: bottom;
  background-repeat: no-repeat;  
  padding-left:8%;
  padding-right:8%;
  padding-top:0;
  background-color:white;
  height:700px;
}
#twotextwrap {
  width:40%;
  float:left;
  margin-top:20%;
}



